@import "tailwindcss";

/* app/globals.css */

body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
   margin: 0;
  padding: 0;
}

/* Opcional, para eliminar márgenes predeterminados */
html, body {
  margin: 0;
  padding: 0;
}

:root {
   --color-bonga-blue: #1e40af;
   --color-bonga-yellow: #fbbf24;
   --color-bonga-dark: #1f2937;
}


@theme inline {
  --color-bonga-blue:var(--color-bonga-blue);
  --color-bonga-yellow:var(--color-bonga-yellow);
  --color-bonga-dark:var(--color-bonga-dark);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
} */
